<% if current_user.nil? %>
<div class="container">
  <form class="credentials" action="<%= signin_url %>" method="post">
    <h2>Sign in!</h2>

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <div class="username">
      <label for="user_username">Username:</label>
      <div>
        <input type="text" id="user_username" name="user[username]" value="<%= @user.username %>">
      </div>
    </div>

    <div class="password">
      <label for="user_password">Password:</label>
      <div>
        <input type="password" id="user_password" name="user[password]">
      </div>
    </div>

    <div class="submit">
      <input type="submit" value="Sign in">
    </div>
  </form>

  <div class="or-separator">—or—</div>

  <form class="guest-credentials" action="<%= signin_url %>" method="post">
    <input class="guest-hidden-input" type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input class="guest-hidden-input" type="text" id="user_username" name="user[username]" value="guest">
    <input class="guest-hidden-input" type="password" id="user_password" name="user[password]" value="password">

    <div class="submit-guest">
      <input class="btn-submit-guest" type="submit" value="Sign in as guest">
    </div>
  </form>
</div>
<% else %>

  <div class="already-signed-in">
    <p>
      You are signed in as <%= current_user.display_name %> (<%= current_user.username %>)!
    </p>
    <p>
      Not you? <a href="<%= signout_url %>">Sign out</a>
    </p>
  </div>

<% end %>
