<!-- <h4><%= track.escape('title') %></h4>
<h4><%= track.escape('artist') %></h4> -->

<!-- <audio controls>
  <source src="<%= track.escape('audio_url') %>" type="audio/mpeg">
</audio> -->

<div class="persistent-player">
  <ul class="left-controls">
    <li class="prev-btn">
      <a href="#prev-track"><span class="glyphicon glyphicon-step-backward"></span></a>
    </li>
    <li class="play-btn">
      <a href="#play"><span class="glyphicon glyphicon-play"></span></a>
    </li>
    <li class="pause-btn">
      <a href="#pause"><span class="glyphicon glyphicon-pause"></span></a>
    </li>
    <li class="next-btn">
      <a href="#next-track"><span class="glyphicon glyphicon-step-forward"></span></a>
    </li>

    <li class="track-info">
      <a href="<%= _.escape(referrer_url) %>"><%= track.escape("title") %></a>
    </li>
  </ul>


  <ul class="right-controls">
    <li>
      <a href="#toggle-repeat"><span class="glyphicon glyphicon-retweet"></span></a>
    </li>
    <li>
      <a href="#toggle-mute"><span class="glyphicon glyphicon-volume-up"></span></a>
    </li>
  </ul>
</div>
